body {
    background: url("./assets/images/BG-1080.jpg");
    color: white;
}

.wrapper {
    text-align: center;
}

iframe, h1, p {
    display: inline-block;
    margin-top: 3rem;
}

p {
    font-size: 20px;
}