body {
    background: url("./assets/images/BG-1080.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: white;
}

.wrapper, .row {
    text-align: center;
}

a, a:hover {
    color: white;
    margin-bottom: 20px;
    font-size: 22px;
}

.names {
    margin-bottom: 30px;
}

img, h1, p {
    display: inline-block;
    margin-top: 3rem;
}

img {
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

ul, h3 {
    text-align: left;
}

img {
    max-width: 100%;
}

p {
    font-size: 20px;
}

.tech {
    margin-bottom: 3rem;
}

.credits {
    margin-top: 3rem;
}

@media only screen and (max-width: 600px) {
    img {
        object-fit: contain;
    }
    body {
        background: rgb(8,49,59);
        background-repeat: repeat;
        background-attachment: scroll;
    }
  }